@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
a,
span {
    font-family: 'Poppins', sans-serif;
}

.hero-bottom {
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/hero-bottom-small.svg');
}


@media screen and (min-width: 480px) {
    .hero-bottom {
        background-image: url('../assets/hero-bottom-medium.svg');
    }
}

@media screen and (min-width: 576px) {
    .hero-bottom {
        background-image: url('../assets/hero-bottom-large.svg');
    }
}

@media screen and (min-width: 992px) {
    .hero-bottom {
        background-image: url('../assets/hero-bottom-xlarge.svg');
    }
}

@media screen and (min-width: 1440px) {
    .hero-bottom {
        background-image: url('../assets/hero-bottom-xxlarge.svg');
    }
}

.btn-linkedin {
    @apply btn;
    @apply border-2;
    @apply btn-outline;
    color: #1293d2;
    border-color: #1293d2;
}

.btn-linkedin:hover {
    border-color: #1293d2;
    background-color: #1293d2;
    color: white;
}

.btn-github {
    @apply btn;
    @apply border-2;
    @apply btn-outline;
    color: #691bf7;
    border-color: #691bf7;
}

.btn-github:hover {
    border-color: #691bf7;
    background-color: #691bf7;
    color: white;
}

.btn-whatsapp {
    @apply btn;
    @apply border-2;
    @apply btn-outline;
    color: #25D366;
    border-color: #25D366;
}

.btn-whatsapp:hover {
    border-color: #25D366;
    background-color: #25D366;
    color: white;
}